.shiftWrapper {
  position: absolute;
  z-index: 111;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  align-content: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
}
.shift {
  display: grid;
  grid-template-rows: min-content 550px 90px;
  width: 1280px;
  margin: 0 auto;
  border-radius: 28px;
  background-color: white;
  &HeaderWrapper {

  }
  &BodyWrapper {
    display: grid;
    grid-template-columns: 7fr 5fr;
    border-bottom: 1px solid rgba(216, 216, 216, 1);
  }
  &Footer {
    display: grid;
    align-content: center;
    justify-content: end;
    padding-right: 37px;
  }
}
