.timeTableWrapper {
  display: grid;
  grid-template-columns: min-content auto;
  align-items: center;
  justify-items: center;
  grid-auto-flow: column;
  column-gap: 15px;
}

.timeTable {
  display: grid;
  grid-template-rows: min-content auto;
  width: 70%;
  height: 868px;
  background-color: white;
  padding: 37px;
  border-radius: 28px;
  .events {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .events .ant-badge-status {
    width: 100%;
    overflow: hidden;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .notes-month {
    font-size: 28px;
    text-align: center;
  }
  .notes-month section {
    font-size: 28px;
  }
}
