.shiftDayNightToggle {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  column-gap: 7px;
  grid-auto-flow: column;
  align-content: center;
  align-items: center;
  font-size: 21px;
}

.shiftDayNightIcon {
  padding-bottom: 2px;
  width: 24px;
  border-bottom: 2px solid white;
  &Active {
    border-bottom: 2px solid cornflowerblue;
  }
}
