@import "../../../Styles/Consts";

.sidebarFooter {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100%;
  width: 100%;
  border-top: 1px solid rgba(234, 234, 240, 1);
  font-weight: 700;
}
