.shiftHeader {
  display: grid;
  align-content: center;
  grid-template-columns: min-content min-content auto;
  column-gap: 17px;
  height: 81px;
  border-bottom: 1px solid rgba(234, 234, 240, 1);
}
