$accentColor: rgba(0, 99, 209, 1);
$secondAccentColor: rgba(136, 136, 136, 1);
$grayColor: rgba(216, 216, 216, 1);
$lightGrayColor: rgba(233, 233, 233, 1);

$backgroundColor: rgba(243, 243, 246, 1);

$disableButtonColor: rgba(216, 216, 216, 1);
$enableButtonColor: rgba(0, 99, 209, 1);
$hoveredButtonColor: rgba(8, 114, 233, 1);
$activeButtonColor: rgba(0, 78, 165, 1);

$inputColor: rgba(216, 216, 216, 1);
$activeInputColor: rgba(49, 49, 49, 1);
$errorInputColor: rgba(255, 71, 0, 1);
