.authorizationFormBody {
  width: 500px;
  height: 330px;
  display: grid;
  align-content: center;
  justify-content: center;
  row-gap: 11px;
  border-radius: 28px;
  background-color: white;
  margin-right: auto;
  margin-left: auto;
  margin-top: 21%;
  & a {
    display: grid;
    justify-items: center;
  }
}
