@import "../../Styles/Consts";

.sidebar {
  height: 100vh;
  width: 322px;
  display: grid;
  justify-items: center;
  grid-template-rows: 141px auto 71px;
  grid-gap: 0;
  border-right: 1px solid rgba(234, 234, 240, 1);
  background-color: white;
}
