@import "../../Styles/Consts";

.button {
  height: 56px;
  width: 100%;
  max-width: 351px;
  display: grid;
  justify-content: center;
  align-content: center;
  background-color: $accentColor;
  color: white;
  border: none;
  border-radius: 28px;
  transition: all ease-in-out 0.13s;
  &:hover {
    background-color: $hoveredButtonColor;
  }
  &:active, &:focus {
    background-color: $activeButtonColor;
  }
}
