@import "../../Styles/Consts";

.input {
  height: 56px;
  width: 380px;
  padding: 18px 25px;
  position: relative;
  display: grid;
  align-content: center;
  color: $activeInputColor;
  border: 1px solid $inputColor;
  border-radius: 28px;
  transition: all ease-in-out 0.13s;
  outline: none;
}
