@import "../../../Styles/Consts";

.inputDescription {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 29px;
  background-color: white;
  color: $inputColor;
  transition: all ease-in-out 0.17s;
  &Active {
    top: -9px;
    left: 30px;
    transform: translateY(0);
    padding-right: 3px;
    padding-left: 3px;
    font-size: 13px;
  }
}
