@import "../../../Styles/Consts";

.sidebarItem {
  display: grid;
  justify-content: start;
  align-content: center;
  padding-left: 25px;
  border-radius: 8px;
  margin-bottom: 3px;
  height: 56px;
  width: 288px;
  color: $secondAccentColor;
  transition: all ease-in-out 0.17s;
  &:hover {
    cursor: default;
    background-color: rgba(239, 239, 249, 1);
  }
  &Active {
    background-color: rgba(245, 245, 250, 1);
    color: black;
  }
}
